<form [formGroup]="passwordFormGroup">
  <mat-form-field class="password-input" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      required
      matInput
      type="text"
      formControlName="password"
    >
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Please compile this field
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('weakPassword')">
      The password is too weak
    </mat-error>
    <mat-hint>
      <span *ngIf="disabled">Please compile the previous field to then define the password</span>
      <span *ngIf="!disabled">Please provide a strong password</span>
    </mat-hint>
  </mat-form-field>
</form>
